USE [master]
GO
/****** Object:  Database [CryptoDB]    Script Date: 2025-01-01 22:11:42 ******/
CREATE DATABASE [CryptoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CryptoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CryptoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CryptoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CryptoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CryptoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CryptoDB]
GO
/****** Object:  Table [dbo].[CryptocurrencyMarketData]    Script Date: 2025-01-01 22:11:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CryptocurrencyMarketData](
	[MarketDataId] [int] IDENTITY(1,1) NOT NULL,
	[CryptocurrencyId] [int] NOT NULL,
	[Price] [decimal](38, 10) NULL,
	[MarketCap] [decimal](38, 2) NULL,
	[CirculatingSupply] [decimal](38, 2) NULL,
	[TotalSupply] [decimal](38, 2) NULL,
	[MarketCapDominance] [decimal](18, 10) NULL,
	[PercentChange1H] [decimal](18, 10) NULL,
	[PercentChange24H] [decimal](18, 10) NULL,
	[VolumeChange24H] [decimal](38, 10) NULL,
	[LastUpdated] [datetime] NOT NULL,
	[RecordTimestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MarketDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CryptocurrencyMetadata]    Script Date: 2025-01-01 22:11:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CryptocurrencyMetadata](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Symbol] [nvarchar](10) NULL,
	[Slug] [nvarchar](100) NULL,
	[DateAdded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CryptocurrencyMarketData]  WITH CHECK ADD FOREIGN KEY([CryptocurrencyId])
REFERENCES [dbo].[CryptocurrencyMetadata] ([Id])
GO
USE [master]
GO
